/*
 * Fix moche et rapide pour surcharger le css sans utiliser Sass.
 */

#main {
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(231,240,253,1) 0%, rgba(128,187,254,1) 100%);
}

#home #thumbnails .thumbnail .overlay {
    background: none;
}

#thumbnails article .thumbnail {
  color: black;
  opacity: 0.3;
  transition: opacity 500ms;
}

#thumbnails article .thumbnail:hover {
  opacity: 1;
}

#header h2 {
    color: #white;
}

#header h1 {
    color: #a5f18f;
}

#thumbnails article {
    background: none;
}

