html {
  height: 100%;
}

#back {
  margin-bottom: 18px;
}

#home {
  #back {
    display: none;
  }

  #main {
    width: 100%;
  }

  #thumbnails {
    display: flex;
    justify-content: space-evenly;

    article {
      max-width: 25em;
    }

    .thumbnail {
      .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 500ms;
        background-color: rgba(255, 255, 255, 0.4);
  
        & h2 {
          display: block;
          margin: 0;
          color: _palette(fg-bold);
          font-size: 24px;
          transition: color 500ms;
        }
      }

      &:hover {
        .overlay {
          background: none;

          h2 {
            color: transparent;
          }
        }
      }
    }
  }
}

#header {
  h2 {
    color: _palette(accent);
  }

  p {
    max-width: 800px;
    display: inline-block;
  }
}

#viewer .slide .image {
  background-position: center center !important;
  background-size: contain;
}

#thumbnails article {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  border-bottom: solid 0;
  transition: color 500ms;
}

#viewer .slide .caption {
  background: linear-gradient(0deg, rgba(128,187,254,1) 0%, rgba(128,187,254,0) 100%);

  h2 {
    color: _palette(fg-light);
    margin: 0;
  }
}
